aiohttp==3.8.3
aiosignal==1.3.1
alembic==1.8.1
async-timeout==4.0.2
attrs==22.1.0
boto3==1.26.16
botocore==1.29.16
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.0
contourpy==1.0.6
copulas==0.7.0
ctgan==0.5.2
cycler==0.11.0
databricks-cli==0.17.3
deepecho==0.3.0.post1
docker==6.0.1
docstring-parser==0.15
entrypoints==0.4
Faker==14.2.1
filelock==3.8.0
fire==0.4.0
flash==1.0.3
Flask==2.2.2
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2022.11.0
gitdb==4.0.10
GitPython==3.1.29
graphviz==0.20.1
greenlet==2.0.1
gunicorn==20.1.0
huggingface-hub==0.11.0
idna==3.4
importlib-metadata==5.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonargparse==4.9.0
kiwisolver==1.4.4
lightning-flash==0.8.1
lightning-utilities==0.3.0
llvmlite==0.39.1
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
mlflow==2.0.1
multidict==6.0.2
numba==0.56.4
numpy==1.22.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
packaging==21.3
pandas==1.5.2
Pillow==9.3.0
plotly==5.11.0
protobuf==3.20.1
psutil==5.9.4
pyarrow==10.0.1
pyDeprecate==0.3.2
PyJWT==2.6.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytorch-lightning==1.8.3.post0
pytz==2022.6
PyYAML==5.4.1
querystring-parser==1.2.4
rdt==1.2.1
regex==2022.10.31
requests==2.28.1
s3transfer==0.6.0
scikit-learn==1.1.3
scipy==1.7.3
sdmetrics==0.7.0
sdv==0.17.1
shap==0.41.0
six==1.16.0
slicer==0.0.7
smmap==5.0.0
SQLAlchemy==1.4.44
sqlparse==0.4.3
tabulate==0.9.0
tenacity==8.1.0
tensorboardX==2.5.1
termcolor==2.1.1
threadpoolctl==3.1.0
tokenizers==0.13.2
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.11.0+cu115
-f https://download.pytorch.org/whl/torch_stable.html
torchaudio==0.11.0+cu115
torchmetrics==0.10.3
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.12.0+cu115
tqdm==4.64.1
transformers==4.24.0
typing_extensions==4.4.0
urllib3==1.26.13
websocket-client==1.4.2
Werkzeug==2.2.2
yarl==1.8.1
zipp==3.10.0
